@media (max-width: 1360px) {
  .contentfirst {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #2b1c56;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  .blockleft img {
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    border-radius: 5px 5px 5px 5px;
  }

  .blockleft {
    width: 100%;
    height: 350px;
  }

  .content {
    position: absolute;
    width: 90%;
  }

  .datetime {
    display: inline-flex;
    width: 100%;
    margin: 4%;
    color: white;
  }

  #datetime {
    margin-top: -1%;
    border-radius: 8px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #2b1c56;
    font-size: 20px;
    color: white;
    margin-left: auto;
    margin-right: 10%;
  }

  .slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
    margin-top: -120px;
  }

  section .content h1 {
    color: white;
    font-size: 35px;
    font-family: "Titillium Web", sans-serif;
    margin-left: 4%;
    width: 100%;
    margin-top: -4%;
  }

  section .content h2 {
    font-weight: lighter;
    color: white;
    font-size: 20px;
    margin-left: 4%;
    font-family: "Titillium Web", sans-serif;
    margin-top: -3%;
  }

  .rightblock {
    margin-top: 2%;
    padding-bottom: 2%;
  }

  .blockdate button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }

  .blockdate {
    display: inline-flex;
    border-radius: 5px;
    width: 50%;
    height: 60px;
    background-color: #1d1438;
    margin-left: 2%;
  }

  .adding form button {
    border-radius: 5px;
    background-color: #37276a;
    text-decoration: none;
    border: none;
    padding-right: 8%;
    padding-left: 8%;
    cursor: pointer;
    height: 50px;
    margin-top: 2%;
    margin-right: 2%;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    color: white;
  }

  .adding form {
    border-radius: 5px;
    background-color: #1d1438;
    width: 20%;
    display: inline-flex;
  }

  .slide-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .blocnote {
    position: absolute;
    background-color: #1d1438e7;
    width: 87%;
    height: 660px;
    overflow: scroll;
    border-radius: 8px 8px 8px 8px;
    z-index: 100;
  }

  .note h1 {
    margin-top: 6%;
    color: white;
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
    margin-left: 5%;
  }

  .admin h1 {
    margin-top: 6%;
    color: #544285;
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
    margin-left: 5%;
  }
  .rendu h1 {
    margin-top: 6%;
    color: #544285;
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
    margin-left: 5%;
  }
  .icon-button__badge {
    position: absolute;
    width: 25px;
    height: 20px;
    margin-left: 12%;
    margin-top: 0.5%;
    background: #7665a7;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
}
